.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  text-align: center;
}

.page {
  max-width: calc(800px + 10%);
  margin: 0 auto;
  padding: 0 5%;
}
